(require 'powerline)
(powerline-vim-theme)

(require 'color-theme)
(color-theme-initialize)
(color-theme-blue-mood)

;;Отключить splash-screen
(setq inhibit-splash-screen t)

(require 'ansi-color)
(defun colorize-compilation-buffer ()
  (toggle-read-only)
  (ansi-color-apply-on-region (point-min) (point-max))
  (toggle-read-only))

(add-hook 'compilation-filter-hook 'colorize-compilation-buffer)
(add-hook 'shell-mode-hook 'ansi-color-for-comint-mode-on)


;; Reverse colors for the border to have nicer line
(set-face-inverse-video-p 'vertical-border nil)
(set-face-background 'vertical-border (face-background 'default))

;; Set symbol for the border
(set-display-table-slot standard-display-table   'vertical-border  (make-glyph-code ?┃))


(require 'tabbar-ruler)
(setq tabbar-ruler-global-tabbar t)

(global-linum-mode t)
(column-number-mode 1)

(menu-bar-mode -1)
(show-paren-mode 1)
(tool-bar-mode -1) ;; выключить тубар

(when (fboundp 'tool-bar-mode)
  (tool-bar-mode -1))
(when (fboundp 'scroll-bar-mode)
 (scroll-bar-mode -1))
