(require 'f)
(require 's)
(require 'dash)

(add-to-list 'load-path "/home/lagrunge/.emacs.d/custom")
(require 'yandex-search)

(require 'repository-root)
(add-to-list 'repository-root-matchers repository-root-matcher/svn)



;; Можно использовать api RTags и получать этот набор для каждого буфера,
;; но я буду брать из .clang_complete который генерится из copile_commands.json,
;; который в свою очередь генерит bear


(defun pill-flag-file()
  (concat (repository-root) ".clang_complete")
)

(defun pill--filter-by-prefix (prefix)
  (if (not (f-exists? (pill-flag-file)))
      (list())
      (let* ((flagfile (pill-flag-file))
             (flagdata (f-read-text flagfile))
             (flaglist (s-lines flagdata))         )
       (--keep (when (and (s-starts-with? prefix it) 
                      (not (s-equals? it prefix)))
                (s-chop-prefix prefix it))  flaglist))
    )
)
(defun pill-includes ()
  (pill--filter-by-prefix "-I")
)

(defun pill-symbols ()
  (pill--filter-by-prefix "-D")
)

(defun pill-warnings ()
  (pill--filter-by-prefix "-W")
)

(defun pill-build-command ()
  (concat (repository-root) "build.sh")
)

(defun pill-standart ()
  "c++11"
)

