(setq ibuffer-saved-filter-groups
   '(("common"
      ("Stuff" (used-mode . fundamental-mode))
      ("C++"   (used-mode . c++-mode))
      )))

(setq ibuffer-show-empty-filter-groups nil)


(add-hook 'ibuffer-mode-hook
          '(lambda ()
             (ibuffer-auto-mode 1)
             (ibuffer-switch-to-saved-filter-groups "common")))
