(require 'package)
(dolist (source '(("marmalade" . "http://marmalade-repo.org/packages/")
                  ("elpa" . "http://tromey.com/elpa/")
                  ("melpa" . "http://melpa.milkbox.net/packages/")
                  ("elpy" . "http://jorgenschaefer.github.io/packages/")
                  ))
(add-to-list 'package-archives source t))
(package-initialize)
